<section class="slider__area pt-5 p-relative fix">
  <div class="slider__item-9">
     <div class="container">
        <div class="row align-items-end">
           <div class="col-xl-7 col-lg-6 col-md-7">
              <div class="slider__content-9">
                 <span class="slider__title-pre-9">Hi! I am Rafh Hitosis</span>
                 <h3 class="slider__title-9" data-text="Aspiring">Aspiring <br> Web Developer</h3>
                 <p>Hi! I'm an aspiring Front-end Web Developer - passionate about creating modern and interactive websites worldwide.</p>

                 <div class="slider__btn-9 mb-85">
                    <a href="https://mail.google.com/mail/?view=cm&fs=1&to=rafhhitosis@gmail.com" class="tp-btn-5 tp-link-btn-3" target="_blank">
                       Contact Me
                       <span>
                          <i class="fa-regular fa-arrow-right"></i>
                       </span>
                    </a>
                 </div>

                 <div class="slider__social-9 d-flex flex-wrap align-items-center">
                    <span>Check out my:</span>
                    <ul>
                       <li>
                          <a href="https://github.com/RafhHitosis">
                           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                              <path fill-rule="evenodd" clip-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8C0 11.54 2.29 14.47 5.47 15.54C5.85 15.62 6 15.37 6 15.15V13.62C3.73 14.1 3.26 12.66 3.26 12.66C2.91 11.74 2.38 11.5 2.38 11.5C1.65 11.05 2.44 11.06 2.44 11.06C3.25 11.12 3.67 11.92 3.67 11.92C4.38 13.18 5.62 12.8 6.08 12.58C6.16 12.05 6.37 11.72 6.61 11.53C4.81 11.34 2.92 10.66 2.92 7.6C2.92 6.74 3.23 6.08 3.74 5.57C3.65 5.38 3.37 4.52 3.82 3.4C3.82 3.4 4.43 3.19 6 4.25C6.59 4.07 7.24 3.99 7.9 3.99C8.56 3.99 9.21 4.07 9.8 4.25C11.36 3.18 11.97 3.4 11.97 3.4C12.42 4.52 12.14 5.38 12.05 5.57C12.56 6.08 12.87 6.73 12.87 7.6C12.87 10.67 10.97 11.34 9.17 11.53C9.45 11.74 9.7 12.2 9.7 12.9V15.15C9.7 15.37 9.85 15.63 10.23 15.54C13.41 14.47 15.7 11.54 15.7 8C15.7 3.58 12.42 0 8 0Z" fill="currentColor"/>
                            </svg>
                          </a>
                       </li>
                       <li>
                          <a href="https://www.linkedin.com/in/rafhhitosis">
                           <i class="fa-brands fa-linkedin-in"></i>                           
                          </a>
                       </li>
                       <!-- <li>
                          <a href="#">
                             <svg width="20" height="14" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 6.72744H7.30022C8.79428 6.72744 10.0003 8.00656 10.0003 9.59115C10.0003 11.1757 8.79428 12.4549 7.30022 12.4549H1.90003C1.40501 12.4549 1 12.0253 1 11.5003V1.95457C1 1.42956 1.40501 1 1.90003 1H6.40019C7.89425 1 9.10029 2.27913 9.10029 3.86372C9.10029 5.44831 7.89425 6.72744 6.40019 6.72744H1Z" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10"/>
                                <path d="M11.7998 8.63659H19.0001C19.0001 6.52698 17.389 4.8183 15.3999 4.8183C13.4109 4.8183 11.7998 6.52698 11.7998 8.63659ZM11.7998 8.63659C11.7998 10.7462 13.4109 12.4549 15.3999 12.4549H16.903" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M16.7479 2.43195H14.0479" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                             </svg>
                          </a>
                       </li> -->
                    </ul>
                 </div>
              </div>
           </div>
           <div class="col-xl-5 col-lg-6 col-md-5 order-first order-md-last">
              <div class="slider__thumb-9 p-relative scene">
                 <div class="slider__shape">
                    <div class="slider__shape-20">
                       <!-- <img class="layer" data-depth=".2" src="/assets/img/slider/9/slider-shape-1.png" alt=""> -->
                    </div>
                    <div class="slider__shape-21">
                       <!-- <img class="layer" data-depth=".3" src="/assets/img/slider/9/slider-shape-2.png" alt=""> -->
                    </div>
                 </div>
                 <img class="slider__thumb-9-main" src="/assets/img/slider/9/nobgRafh.png" alt="" style="margin-top: -80px;">
              </div>
           </div>
        </div>
     </div>
  </div>
  <div class="stars">
   <div class="star"></div>
   <div class="star"></div>
   <div class="star"></div>
   <div class="star"></div>
   <div class="star"></div>
   <div class="star"></div>
   <div class="star"></div>
   <div class="star"></div>
   <div class="star"></div>
   <div class="star"></div>
   <div class="star"></div>
   <div class="star"></div>
   <div class="star"></div>
   <div class="star"></div>
   <div class="star"></div>
   <div class="star"></div>
   <div class="star"></div>
   <div class="star"></div>
   <div class="star"></div>
   <div class="star"></div>
   <div class="star"></div>
   <div class="star"></div>
   <div class="star"></div>
   <div class="star"></div>
   <div class="star"></div>
   <div class="star"></div>
   <div class="star"></div>
   <div class="star"></div>
   <div class="star"></div>
   <div class="star"></div>
   <div class="star"></div>
   <div class="star"></div>
   <div class="star"></div>
   <div class="star"></div>
   <div class="star"></div>
   <div class="star"></div>
   <div class="star"></div>
   <div class="star"></div>
   <div class="star"></div>
   <div class="star"></div>
   <div class="star"></div>
   <div class="star"></div>
   <div class="star"></div>
   <div class="star"></div>
   <div class="star"></div>
   <div class="star"></div>
   <div class="star"></div>
   <div class="star"></div>
   <div class="star"></div>
   <div class="star"></div>
 </div>
</section>

<style>
.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  z-index: -99;
  opacity: 0.3;
  transform: rotate(-45deg);
}

.star {
  --star-color: var(--primary-color);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 6.45em;
  --top-offset: 4.23vh;
  --fall-duration: 10.311s;
  --fall-delay: 6.291s;
}
.star:nth-child(2) {
  --star-tail-length: 6.72em;
  --top-offset: 72.94vh;
  --fall-duration: 7.313s;
  --fall-delay: 8.03s;
}
.star:nth-child(3) {
  --star-tail-length: 6.13em;
  --top-offset: 31.48vh;
  --fall-duration: 10.401s;
  --fall-delay: 2.246s;
}
.star:nth-child(4) {
  --star-tail-length: 5.29em;
  --top-offset: 90.77vh;
  --fall-duration: 9.096s;
  --fall-delay: 4.551s;
}
.star:nth-child(5) {
  --star-tail-length: 6.54em;
  --top-offset: 11.17vh;
  --fall-duration: 6.589s;
  --fall-delay: 1.87s;
}
.star:nth-child(6) {
  --star-tail-length: 5.86em;
  --top-offset: 73.51vh;
  --fall-duration: 7.937s;
  --fall-delay: 5.835s;
}
.star:nth-child(7) {
  --star-tail-length: 6.88em;
  --top-offset: 20.96vh;
  --fall-duration: 8.445s;
  --fall-delay: 1.914s;
}
.star:nth-child(8) {
  --star-tail-length: 6.18em;
  --top-offset: 75.72vh;
  --fall-duration: 8.463s;
  --fall-delay: 9.493s;
}
.star:nth-child(9) {
  --star-tail-length: 6.73em;
  --top-offset: 2.24vh;
  --fall-duration: 9.85s;
  --fall-delay: 9.356s;
}
.star:nth-child(10) {
  --star-tail-length: 6.12em;
  --top-offset: 90.32vh;
  --fall-duration: 8.661s;
  --fall-delay: 2.076s;
}
.star:nth-child(11) {
  --star-tail-length: 5.38em;
  --top-offset: 11.7vh;
  --fall-duration: 8.385s;
  --fall-delay: 8.19s;
}
.star:nth-child(12) {
  --star-tail-length: 5.28em;
  --top-offset: 59.21vh;
  --fall-duration: 7.744s;
  --fall-delay: 2.803s;
}
.star:nth-child(13) {
  --star-tail-length: 5.83em;
  --top-offset: 26.66vh;
  --fall-duration: 10.475s;
  --fall-delay: 1.694s;
}
.star:nth-child(14) {
  --star-tail-length: 7.24em;
  --top-offset: 26.27vh;
  --fall-duration: 9.651s;
  --fall-delay: 5.961s;
}
.star:nth-child(15) {
  --star-tail-length: 5.32em;
  --top-offset: 20.56vh;
  --fall-duration: 10.159s;
  --fall-delay: 2.919s;
}
.star:nth-child(16) {
  --star-tail-length: 5.39em;
  --top-offset: 65.36vh;
  --fall-duration: 11.861s;
  --fall-delay: 5.836s;
}
.star:nth-child(17) {
  --star-tail-length: 7.42em;
  --top-offset: 52.35vh;
  --fall-duration: 10.4s;
  --fall-delay: 9.672s;
}
.star:nth-child(18) {
  --star-tail-length: 5.42em;
  --top-offset: 33.56vh;
  --fall-duration: 6.26s;
  --fall-delay: 1.381s;
}
.star:nth-child(19) {
  --star-tail-length: 6.33em;
  --top-offset: 42.36vh;
  --fall-duration: 10.08s;
  --fall-delay: 4.009s;
}
.star:nth-child(20) {
  --star-tail-length: 6.63em;
  --top-offset: 40.09vh;
  --fall-duration: 6.443s;
  --fall-delay: 5.64s;
}
.star:nth-child(21) {
  --star-tail-length: 7.01em;
  --top-offset: 69.24vh;
  --fall-duration: 8.22s;
  --fall-delay: 9.429s;
}
.star:nth-child(22) {
  --star-tail-length: 5.61em;
  --top-offset: 100vh;
  --fall-duration: 9.436s;
  --fall-delay: 5.552s;
}
.star:nth-child(23) {
  --star-tail-length: 5.64em;
  --top-offset: 25.86vh;
  --fall-duration: 10.392s;
  --fall-delay: 0.116s;
}
.star:nth-child(24) {
  --star-tail-length: 6.92em;
  --top-offset: 87.73vh;
  --fall-duration: 8.49s;
  --fall-delay: 2.984s;
}
.star:nth-child(25) {
  --star-tail-length: 5.73em;
  --top-offset: 52.17vh;
  --fall-duration: 6.22s;
  --fall-delay: 5.216s;
}
.star:nth-child(26) {
  --star-tail-length: 7.46em;
  --top-offset: 77.63vh;
  --fall-duration: 9.769s;
  --fall-delay: 2.586s;
}
.star:nth-child(27) {
  --star-tail-length: 6.38em;
  --top-offset: 97.69vh;
  --fall-duration: 7.982s;
  --fall-delay: 2.489s;
}
.star:nth-child(28) {
  --star-tail-length: 7.29em;
  --top-offset: 88.68vh;
  --fall-duration: 9.512s;
  --fall-delay: 3.816s;
}
.star:nth-child(29) {
  --star-tail-length: 5.32em;
  --top-offset: 1.61vh;
  --fall-duration: 11.797s;
  --fall-delay: 5.559s;
}
.star:nth-child(30) {
  --star-tail-length: 7.49em;
  --top-offset: 62.35vh;
  --fall-duration: 6.755s;
  --fall-delay: 4.988s;
}
.star:nth-child(31) {
  --star-tail-length: 7.24em;
  --top-offset: 70.03vh;
  --fall-duration: 11.143s;
  --fall-delay: 8.369s;
}
.star:nth-child(32) {
  --star-tail-length: 6.85em;
  --top-offset: 25.65vh;
  --fall-duration: 7.372s;
  --fall-delay: 9.366s;
}
.star:nth-child(33) {
  --star-tail-length: 7.29em;
  --top-offset: 5.36vh;
  --fall-duration: 10.572s;
  --fall-delay: 7.125s;
}
.star:nth-child(34) {
  --star-tail-length: 6.69em;
  --top-offset: 50.18vh;
  --fall-duration: 8.706s;
  --fall-delay: 8.203s;
}
.star:nth-child(35) {
  --star-tail-length: 6.55em;
  --top-offset: 65.37vh;
  --fall-duration: 10.643s;
  --fall-delay: 6.279s;
}
.star:nth-child(36) {
  --star-tail-length: 6.36em;
  --top-offset: 86.44vh;
  --fall-duration: 10.436s;
  --fall-delay: 8.987s;
}
.star:nth-child(37) {
  --star-tail-length: 5.27em;
  --top-offset: 15.92vh;
  --fall-duration: 8.553s;
  --fall-delay: 7.456s;
}
.star:nth-child(38) {
  --star-tail-length: 6.98em;
  --top-offset: 64.63vh;
  --fall-duration: 6.605s;
  --fall-delay: 7.901s;
}
.star:nth-child(39) {
  --star-tail-length: 6.87em;
  --top-offset: 46.51vh;
  --fall-duration: 10.97s;
  --fall-delay: 8.496s;
}
.star:nth-child(40) {
  --star-tail-length: 5.4em;
  --top-offset: 23.47vh;
  --fall-duration: 7.551s;
  --fall-delay: 7.89s;
}
.star:nth-child(41) {
  --star-tail-length: 7.34em;
  --top-offset: 28.52vh;
  --fall-duration: 7.011s;
  --fall-delay: 1.012s;
}
.star:nth-child(42) {
  --star-tail-length: 7.05em;
  --top-offset: 19.55vh;
  --fall-duration: 11.45s;
  --fall-delay: 9.516s;
}
.star:nth-child(43) {
  --star-tail-length: 6.94em;
  --top-offset: 14.76vh;
  --fall-duration: 7.118s;
  --fall-delay: 2.244s;
}
.star:nth-child(44) {
  --star-tail-length: 5.48em;
  --top-offset: 0.91vh;
  --fall-duration: 8.281s;
  --fall-delay: 9.384s;
}
.star:nth-child(45) {
  --star-tail-length: 7.43em;
  --top-offset: 27.06vh;
  --fall-duration: 9.094s;
  --fall-delay: 3.406s;
}
.star:nth-child(46) {
  --star-tail-length: 7.27em;
  --top-offset: 25.56vh;
  --fall-duration: 10.76s;
  --fall-delay: 9.939s;
}
.star:nth-child(47) {
  --star-tail-length: 7.36em;
  --top-offset: 74.39vh;
  --fall-duration: 6.962s;
  --fall-delay: 8.162s;
}
.star:nth-child(48) {
  --star-tail-length: 5.67em;
  --top-offset: 3.83vh;
  --fall-duration: 10.33s;
  --fall-delay: 5.808s;
}
.star:nth-child(49) {
  --star-tail-length: 6.29em;
  --top-offset: 31.79vh;
  --fall-duration: 10.906s;
  --fall-delay: 0.587s;
}
.star:nth-child(50) {
  --star-tail-length: 7.27em;
  --top-offset: 60.4vh;
  --fall-duration: 10.967s;
  --fall-delay: 4.607s;
}
.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}
   h3{
      position: relative;
   }

   h3::before{
      content: attr(data-text);
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background-image: -webkit-linear-gradient(109.1deg, rgb(42, 132, 201) 14.6%, rgb(47, 249, 233) 108.2%);
      -webkit-background-clip: text;
      color: transparent; /* Make text itself transparent */
      /* border-right: 2px solid #FA6490; */
      overflow: hidden;
      animation: animate 5s linear infinite;
   }

   @keyframes animate{
      0%, 10%, 100%{
         width: 0;
      }
      70%, 90%{
         width: 100%;
      }
   }
</style>